# ignore all folder with name wandb in subfolders and all its contents
**/wandb/
**/models/
# except models with name starting with @
!**/models/**/@*/
!**/models/**/@*/**
# ignore all files with .npy, .npz in name in subfolders and all its contents, but accept files in specific folders
**/*.npy
**/*.npz
!**data/frisbee/**
!**data/nae_paper_dataset/**

# ignore .pyc files
*.pyc
# ignore __pycache__ folder
**__pycache__

*.egg-info/
*.zip